<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>log in to curcumo</title>
</head>
<body>
    <div class="container">
        <div class="page-container">
            <div class="logo">
                <img src="../img/hatLogo.svg">
            </div>
            <div class="login-description">
                <br>log in to curcumo</br>
            </div>
            <div class="login-container">
                <form>
                    <input name="email" type="text" placeholder="   Email">
                    <input name="password" type="password" placeholder="   Password">
                    <button>log in with email</button>
                </form>
            </div>
            <div class="sign-description">
                <br>New to curcumo? <a href="" style="color: #35A35C;" >Sign up</a></br>
            </div>
        </div>
    </div>
</body>
