<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>get started</title>
    <link rel="icon" href="../img/curcumo-logo.png" type="image/icon type">
</head>
<body>
    <div class="container">
        <div class="logo-get-container">
            <div class="logo-start">
                <img src="../img/logo.svg">            
            </div>
            <div class="logo-start-button">
                <button class="start">Get started</button>
            </div>
        </div>
        <div class="start-page-container">
            <div class="start-page-description">
                
            </div>
        </div>
    </div>
</body>
 