section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    /* padding: 2em; */
    margin-top: 2em;
    overflow: auto;
}

.meals-container>div>img {
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.meals-container>div>div {
    height: 20%;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.meals-container>div {
    border: 1px solid gray;
    border-radius: 2em 2em 0 0;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}