.meals-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    margin: 2em 0;
    padding: 0 1em 1em 1em;
    overflow: auto;
    scrollbar-width: none;
}

.meals-container::-webkit-scrollbar {
    display: none;
}

.meals-container>form>.meal-img {
    height: 65%;
    width: 100%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.meals-container>form>.time-prepare {
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
}

.meals-container>form>.meal-title {
    height: 10%;
    font-size: 130%;
    margin-left: 0.8em;
    display: flex;
    flex-direction: column;
}

.meals-container>form>.meal-title>h2 {
    margin: 0;
}

.meals-container>form>div>.property-meal {
    display: flex;
    align-items: center;
}

.meals-container>form>div>.add-cont {
    display: flex;
    align-items: center;
}

.meals-container>form>div>div>.clock-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.meals-container>form>div>div>.mini-icon {
    display: flex;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
}

.meals-container>form>div>.addButton {
    background: #35A35C;
    box-shadow: 0px 2.2117px 4.4234px rgba(0, 0, 0, 0.25);
    border-radius: 22.117px;

}


.meals-container>form {
    background: #FFF8EC;
    border-radius: 2em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 400px;
    font-family: 'Dongle';
    font-size: 120%;
    margin-bottom: 1em; 
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
}

.time-prepare {
    display: flex;
}

a.addButton {
    font-family: 'Dongle';
    font-size: 130%;
    width: 8rem;
    margin-right: 2rem;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #35A35C;
    box-shadow: 0px 2.2117px 4.4234px rgb(0 0 0 / 25%);
    border-radius: 2rem;
    justify-content: center;
}


/* meal-page */

.backButton {
    text-decoration: none;
}

.meal-section {
    margin: 2em 0;
    padding: 0 1em 1em 1em;
    overflow: auto;
    scrollbar-width: none;
}

.meal-section::-webkit-scrollbar {
    display: none;
}

.meal-section>div>.meal-img {
    height: 30%;
    width: 100%;
    object-fit: cover;
    border-radius: 2em 2em 0 0;
}

.meal-section>div>div>.time-prepare {
    margin-left: 1em;
    display: flex;
    justify-content: space-between;
}

.meal-section>div>div>.meal-title {
    height: 10%;
    font-size: 130%;
    margin-left: 0.8em;
    display: flex;
    flex-direction: column;
}

.meal-section>div>div>.meal-title>h2 {
    margin: 0;
}

.meal-section>div>div>div>.property-meal {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}


.meal-section>div>div>div>.property-meal>h3 {
    margin: 0 1rem 0 1rem;
}

.meal-section>div>div>div>.add-cont {
    display: flex;
    align-items: center;
}

.meal-section>div>div>div>div>.clock-icon {
    display: flex;
    width: 1.5em;
    height: 1.5em;
    margin-left: 1.5em;
}

.meal-section>div>div>.addButton {
    background: #35A35C;
    box-shadow: 0px 2.2117px 4.4234px rgba(0, 0, 0, 0.25);
    border-radius: 22.117px;
}

.meal-section>div {
    background: #FFF8EC;
    border-radius: 2em;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: 1500px;
    font-family: 'Dongle';
    font-size: 200%;
    margin-bottom: 1em; 
    letter-spacing: 0.7px;
    display: flex;
    flex-direction: column;
}


.meal-section>div>div>div>.meal-descript {
    font-size: 3.5rem;
    display: flex;
}

.meal-section>div>div>div>.meal-descript>h2 {
    margin: 1rem 1rem 0 0;
}

.meal-section>div>div>div>.border-top {
    width: 400px;
    height: 91px;
    display: flex;
    border: 1px solid #ACACAC;
    border-radius: 30px 30px 0px 0px;
    align-items: center;
    justify-content: space-evenly;
}

.meal-section>div>div>div>.border-bottom {
    width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ACACAC;
    border-radius: 0px 0px 30px 30px;
}

.meal-section>div>div>div>.border-bottom>div>h1 {
    margin: 0;
}

.meal-section>div>div>div>.border-bottom>div>h3 {
    margin: 0;
}

.meal-section>div>div>div>.border-bottom>div {
    margin-left: 2rem;
    font-size: 1.5rem;
}


.meal-section>div>div>div>div>.add-cont-meal {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}


.meal-section>div>div {
    display: flex;
    margin-left: 2rem;
}

.meal-section>div>div>.meal-products {
    margin: 3rem;
}

a.addButton-meal {
    font-family: 'Dongle';
    font-size: 130%;
    width: 13rem;
    height: 4rem;
    margin-right: 1rem;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #35A35C;
    box-shadow: 0px 2.2117px 4.4234px rgb(0 0 0 / 25%);
    border-radius: 2rem;
    justify-content: center;
}

.look-meal-button {
    height: 4rem;
    width: 4rem;
    background: none;
    border: none;
}

@media (min-width: 2000px) {
    .meals-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 800px) {
    .meals-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-device-width: 450px) {
    .meals-container {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5rem;
    }

    .meals-container>div {
        height: 470px;
        font-size: 170%;
    }

    .meals-container>div>.time-prepare {
        font-size: 120%;
    }

    a.addButton {
        width: 14rem;
        height: 4rem;
    }

    /* meal-page */
    .back-button {
        display: none;
    }

    .meal-section>div>div {
        flex-direction: column;
        align-items: center;
        margin: 0 2rem;
    }

    .meal-section>div {
        height: unset;
    }

    .meal-section>div>div>.meal-products {
        height: 45rem;
    }

}
