body {
    margin: 0;
    overflow: scroll;
}

@font-face {
    font-family: Doppio One;
    src: url(../fonts/DoppioOne-Regular.ttf);
}

@font-face {
    font-family: Dongle;
    src: url(../fonts/Dongle-Regular.ttf);
}

.container {
    width: 100vw;
    height: 100vh;
    background: #FBBB04;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.logo-start {
    transform: scale(1.1);
    margin-top: 2em;
}

.logo-start-button {
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 100%;
}

.login-description {
    font-family: 'Doppio One';
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5em;
}

.page-container {
    width: 768px;
    height: 631px;
    left: 336px;
    top: 300px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFEECB;
    border-radius: 100px;
}

.start-page-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFEECB;
    box-shadow: inset 0px 7px 6px rgba(0, 0, 0, 0.25);
}

.logo-get-container {

    
}

.page-container-s {
    width: 768px;
    height: 670px;
    left: 336px;
    top: 300px;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFEECB;
    border-radius: 100px;
}


.sign-description {
    height: 30%;
    font-family: 'Dongle';
    font-size: 130%;
    margin-top: 1em;
}

form.login {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3em;

}

button.login {
    width: 45%;
    font-family: 'Dongle';
    font-size: 180%;
    font-weight: 400;
    border: none;
    color: #FFFFFF;
    line-height: 1.8em;
    background: #35A35C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

button.start {
    width: 35%;
    font-family: 'Dongle';
    font-size: 200%;
    font-weight: 400;
    border: none;
    color: #FFFFFF;
    line-height: 1.8em;
    background: #35A35C;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}


input {
    width: 55%;
    font-family: 'Dongle';
    font-size: 180%;
    font-weight: 400;
    border: none;
    color: #737373;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    line-height: 1.8em;
    margin-bottom: 1.6em;
    padding: 0 0.7em;

}

div a {
    color: #35A35C;
    text-decoration: none;
    margin-left: 0.5em;
}
/*text-decoration*/ /*overflow (mobile)*/ /*padding*/
@media only screen and (max-device-width: 450px) {
    .page-container {
        width: 85%;
        height: 60%;
        margin-top: 3em;
    }

    .page-container-s {
        width: 85%;
        height: 70%;
        margin-top: 3em;
    }

    .login-description {
        width: 80%;
        font-size: 220%;
        margin-top: 1em;
    }

    .login-container {
        font-size: 40px;
        width: 110%;

    }
    .sign-description {
        font-size: 50px;
        margin-top: 0;
    }

    form {
        margin: auto;
    }

    input {
        border-radius: 50px;
    }

    button {
        border-radius: 50px;
    }

    
}